{% extends "base.html" %}

{% block title %}
{% if object.pk %}
Zutat Editieren
{% else %}
Neue Zutat erstellen
{% endif %}
{% endblock %}

{% block endscript %}
<script type="text/javascript" src="/static/foodplanner/click-to-edit.js"></script>
{% endblock %}

{% block content %}
<h1>Zutat</h1>

<form action="" method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Speichern" class="btn" />
</form>

{% if object.pk %}
<ul>
  {% for portionsize in object.portionsize_set.all %}
  <li class="delete-button-container">
    1
    <span class="click-to-edit"
          data-url="{% url portionsize-put pk=portionsize.id %}"
          data-attribute="name"
          data-csrf="{{csrf_token}}">
      {{portionsize.name}}
    </span>
    =
    <span class="click-to-edit"
          data-url="{% url portionsize-put pk=portionsize.id %}"
          data-attribute="grams"
          data-csrf="{{csrf_token}}">
      {{portionsize.grams}}
    </span> g
    <form action="{% url portionsize-delete ingredient_id=object.id pk=portionsize.id %}"
          method="get"
          style="display: inline">
      <button type="submit" class="btn btn-link btn-mini delete-button"><b class="icon-remove-circle"></b></button>
    </form>
  </li>
  {% endfor %}
  <li>
    <form action="{% url portionsize-create pk=object.id %}"
          method="post">
      {% csrf_token %}
      1 <input type="text" name="name" style="width: 10em" />
      = <input type="text" name="grams" style="width: 2em" />
      g
      <input type="submit" value="Hinzufügen" class="btn" />
    </form>
  </li>
</ul>

<hr />
<form action="{% url ingredient-delete pk=object.id %}" method="get">
  <input type="submit" value="Löschen" class="btn" />
</form>

{% endif %}
{% endblock %}
